extends layout


block content
	div(id="fb-root")
	script(async defer crossorigin="anonymous" src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v9.0" nonce="oLzXsrIo")
	
	h1= title
	
	div(class="fb-page" data-href="https://www.facebook.com/Travel-The-World-101651768469810" data-tabs="timeline" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
	
	p We are a rather new face in the travel industry, but dont let this stop you from having an amazing vacation with us. 
	br
	|With over a thousand succesfull vacations we our well on our way.
	br
	|You can visit our Facebook page to ask us some questions or see all the exciting plans we are 
	|currently working on.
	br
	| #[strong Some extra info over our company:]
	br
	|This small company was founded in 2015 by Bryan Coulier and Branko Wauters.
	br
	|Today the company can give work to over 20 people and hopefully even more in the future.