extends layout

block content
  h1= title
  ul
    - cities_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each city in cities_list
      li 
        a(href=city.url) #{city.name} (#{city.country})

    else
      li There are no cities.
  p(class="info") Fully unravelling the the hidden gems in a city. Is there anything better. 
    |With these three amazing cities to discover your vacation won't be boring for even one moment.
    br
    |Buenos Aires, the cultural heart of Argentinia.
    br
    |London, the best place to see amazing historical buildings but also visit modern places
    br
    |Paris, it's called the city of love and light for a reason.

  img(src="images/newYork.jpg" style="width:50%")