extends layout

block content
	div(id="countrieslist")
		h1=title
		
		ul
			- countries_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
			each country in countries_list
				li 
					a(href=country.url) #{country.name} (#{country.capital})

			else
				li There are no countries.

		button(class="button button2" style="vertical-align:middle" type="button" onclick="loadDoc()")
			span Press to show countries on map
		p(class="countries") So, you want to discover an entire country and really visit everything there is to offer.
			br
			|Above you can chose some amazing destinations.
			br 
			|Brasil, we've all HEARED amazing stories about this place, but why not LIVE them yourself.
			br
			|Italy, a country that offers something to everyone, from the Colosseum to the romantic Venice.
			br
			|Norway, a place where you can truly come to rest and enjoy the spectecular 
			br
			|northern Light and many more for 
			|you to discover.
		img(class="countrypic" src="images/venice.jpg" style="width:50%")
	
	script.
		function loadDoc() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			document.getElementById("countrieslist").innerHTML =
			this.responseText;
			}
		};
		xhttp.open("GET", "ajax_countriesmap.txt", true);
		xhttp.send();
		}