extends layout

block content

  meta(name="viewport" content="width=device-width, initial-scale=1")
  div.changeBack
    div.header 
        br
        h1= title
        p Start your journey now
    div.slideshow
      div.mySlides
        img(src="images/red_nature.jpg" style="width:100%")
      div.mySlides.fade
        img(src="images/camping.jpg" style="width:100%")
      div.mySlides.fade 
        img(src="images/rainbow.jpg" style="width:100%")

      div.text.align.center
        span(class="dot")
        span(class="dot")
        span(class="dot")

    div.homePag
    object(class="youtube" data="https://www.youtube.com/embed/FCPdIvXo2rU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    p(class="main") #[strong Enjoy more, worry less]
    p(class="main") The best place for all of you who like to travel but don't want to 
      |
      |organise everything by themself.
      br
      |We offer a wide range of places for you to visit and we give you the choice
      |to visit an entire country at once or truly discover one city.
      br
      |So if you're interested in any of the things mentioned above, 
      |I suggest you keep looking through our site. 

  script.
    var slideIndex = 0;
    showSlides();

    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 4000); 
    }
  
  
