doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .containter-fluid
        
        ul.navbar-nav.mr-auto(class='navbar')
          li.nav-item.active
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/countries') Countries
          li.nav-item
            a.nav-link(href='/cities') Cities
          li.nav-item
            a.nav-link(href='/mail') Subscribe
          li.nav-item
            a.nav-link(href='/about') About
  body
    block content
